__pycache__
.sixth
examenED1
projecto1
trabajos
resultados_test_cola.md
resultados_test_lcse.md
resultados_test_notaciones.md
test_cola.py
test_lcse.py
test_mente.py
test_notaciones.py
test_recorridos.py